
Equipo1/Codigo/Modulos/MDIGENERAL/.vs/ERPComercial/v16/.suo
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/bin/Debug/CapaControladorERP.dll
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/bin/Debug/CapaControladorERP.pdb
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/obj/Debug/CapaControladorERP.csproj.AssemblyReference.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/obj/Debug/CapaControladorERP.csproj.CoreCompileInputs.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/obj/Debug/CapaControladorERP.dll
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/obj/Debug/CapaControladorERP.pdb
Equipo1/Codigo/Modulos/MDIGENERAL/CapaControladorERP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaModeloERP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/bin/Debug/CapaControladorERP.dll
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/bin/Debug/CapaControladorERP.pdb
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/bin/Debug/CapaVistaERP.dll
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/bin/Debug/CapaVistaERP.pdb
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/Mantenimientos/frm_mant_tipo_de_cambio.cs
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/Mantenimientos/frm_mant_tipo_de_cambio.Designer.cs
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/Mantenimientos/frmMovimientoInventario.cs
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/Mantenimientos/frmProductos.cs
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/CapaVistaERP.csproj.CoreCompileInputs.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/CapaVistaERP.csproj.FileListAbsolute.txt
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/CapaVistaERP.csproj.GenerateResource.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/CapaVistaERP.dll
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/CapaVistaERP.Mantenimientos.frmMantenimientoMovimientoBanco.resources
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/CapaVistaERP.pdb
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Equipo1/Codigo/Modulos/MDIGENERAL/CapaVistaERP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/Menu/Ejecucion/.vs/Ejecucion/v16/.suo
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/CapaControladorERP.dll
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/CapaControladorERP.pdb
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/CapaVistaERP.dll
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/CapaVistaERP.pdb
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/Ejecucion.exe
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/Ejecucion.pdb
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/Vista_MenuHCV.dll
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/bin/Debug/Vista_MenuHCV.pdb
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/obj/Debug/Ejecucion.csproj.AssemblyReference.cache
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/obj/Debug/Ejecucion.csproj.CoreCompileInputs.cache
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/obj/Debug/Ejecucion.csproj.GenerateResource.cache
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/obj/Debug/Ejecucion.exe
Equipo1/Codigo/Modulos/Menu/Ejecucion/Ejecucion/obj/Debug/Ejecucion.pdb
Equipo1/Codigo/Modulos/Menu/MenuHCV/.vs/MenuHCV/v16/.suo
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_controlador/obj/Debug/Controlador_MenuHCV.csproj.AssemblyReference.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_controlador/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/bin/Debug/CapaControladorERP.dll
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/bin/Debug/CapaControladorERP.pdb
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/bin/Debug/CapaVistaERP.dll
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/bin/Debug/CapaVistaERP.pdb
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/bin/Debug/Vista_MenuHCV.dll
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/bin/Debug/Vista_MenuHCV.pdb
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/Vista_MenuHCV.csproj.AssemblyReference.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/Vista_MenuHCV.csproj.CoreCompileInputs.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/Vista_MenuHCV.csproj.GenerateResource.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/Vista_MenuHCV.dll
Equipo1/Codigo/Modulos/Menu/MenuHCV/Capa_vista/obj/Debug/Vista_MenuHCV.pdb
Equipo1/Codigo/Modulos/Menu/MenuHCV/Modelo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Equipo1/Codigo/Modulos/Menu/MenuHCV/Modelo/obj/Debug/Modelo_MenuHCV.csproj.AssemblyReference.cache
